<!--　▼ ジャンボトロン　 -->
    <div class="jumbotron">
      <div class="container">
        <span class="text-success"><h1>READING A BOOK IS GOOD</h1></span>
        <h2>BKLogは読書感想を記録して、見返すことのできるサービスです。</h2>
      </div>
    </div>
<!--　▲ ジャンボトロン　 -->
