<!--　▼ ジャンボトロン　 -->
    <div class="jumbotron">
      <div class="container">
        <h1>READING A BOOK IS GOOD</h1>
        BKLogは読書感想を記録して、見返すことのできるサービスです。</br>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
      </div>
    </div>
<!--　▲ ジャンボトロン　 -->
