@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron { 
  background:url(main.jpg) 
  center no-repeat; 
  background-size: cover;
  height: 600px;
  opacity: 0.9;
  margin-bottom: 0;
}

.pattern {
  background:url(IMG1.jpg)
  center no-repeat; 
  background-size: cover;
  height: 500px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* typography */

.text-success {
  text-align: center;
  color: white;
}

h1 {
  padding-top: 120px;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-weight: normal;
  opacity: 0.7;
}

h2 {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  color: white;
  opacity: 0.7;
}

/* header */

#logo {
  font-weight: normal;
  float: left;
  font-size: 1.7em;
  color: #fff;
  opacity: 0.8;
  letter-spacing: +1px;
  padding-top: 9px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* button */

.btn-ghost {
  background: transeparent;
}

/* navbar */
.navbar {
  background-color: rgba(0,0,0,0.2);
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer {
}