<!-- なぜ、headerはdivタグを書いたのに、footerにはいらないのか？ -->
<!-- divはcontainerを利用するため。 -->
<div class="container">
<footer class="footer">
  <nav>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
</footer>
</div>